@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Men At Work</h1>
    <!--EMBEDDED YOUTUBE VIDEO-->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XfR9iY5y94s" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
    <br /><br />
    <!--ANIMATION-->
    <div id="myContainer">
        <div id="myAnimation">Moving Square</div>
    </div>
</div>
<br />
<br />
<p><button onclick="myMove()">Click Me</button></p>